
<div class="login-box" >
            <login-back-image></login-back-image>
            <!-- /.set password -->
            <div class="login-box-body">
                <form name="form" ng-submit="vm.setpassword()" role="form">
                    <div class="form-group has-feedback"ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                         <!-- <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        <!-- <label class="error">This field is required</label> -->
                    </div>
                    <div class="form-group has-feedback"ng-class="{ 'has-error': form.confirmpassword.$dirty && form.confirmpassword.$error.required }">
                    	<label for="confirmpassword">Confirm Password</label>
                       <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" ng-model="vm.confirmpassword" pw-check="password" required />
                        <!-- <span class="glyphicon glyphicon-lock form-control-feedback"></span> -->
                        <span ng-show="form.confirmpassword.$dirty && form.confirmpassword.$error.required" class="help-block">Password is required</span>
                        <!-- <label class="error">This field is required</label> -->
                        
                    </div>
                     <div class="has-error" ng-show="form.$error"> <span class="help-block" ng-show="form.confirmpassword.$error.pwmatch">Passwords don't match.</span> 
                     </div>
                    <div class="form-actions">
						<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
					   <a href="#/login" class="btn btn-link">Cancel</a>
					</div>
                </form>
                </div><!-- /.login-box-body -->
		</div><!-- /.login-box -->
